fastapi==0.112.1
uvicorn==0.30.6
coverage==7.6.1
yfinance==0.2.41
langchain==0.2.14
langchain_community==0.2.12
python-dotenv==1.0.1
pydantic==2.8.2
pydantic-settings==2.4.0
ollama==0.3.1
requests~=2.32.3
beautifulsoup4~=4.12.3
pandas~=2.2.2
pytest~=8.3.2
langchain-community~=0.2.12
langchain-core~=0.2.34
streamlit==1.37.1
